<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bopr.android.smailer">

    <uses-feature
            android:name="android.hardware.telephony"
            android:required="false" />

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" /><!-- To access google accounts -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!-- To check internet connection -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /><!-- To add contact name into email body. Also somehow it gives access to account list in API>=26  -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /><!-- To process incoming sms -->
    <uses-permission android:name="android.permission.READ_SMS" /><!-- To process outgoing SMS-->
    <uses-permission android:name="android.permission.READ_CALL_LOG" /><!-- To process calls in never versions -->
    <uses-permission android:name="android.permission.WRITE_SMS" /><!-- To mark sms as read -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><!-- To add location in email body -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!-- To add location in email body -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /><!-- To add location in email body -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!-- To process incoming phone calls -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /><!-- To restart application services at device boot -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /><!-- To run content listener in foreground service -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />  <!--To use account manager for google authorization-->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />  <!--To sync data with Google drive -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" /> <!--To sync data with Google drive -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!--To send SMS from  -->

    <application
        android:allowBackup="true"
        android:backupAgent=".AppBackupAgent"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:restoreAnyVersion="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- See: https://developer.android.com/google/backup/signup -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI4Ju-ayl5GJi0GgUprqv9f4BpIq7lr3-NFUwctw" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.RecipientsActivity"
            android:label="@string/recipients"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.RulesActivity"
            android:label="@string/rules_for_sending"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.EventFilterPhoneBlacklistActivity"
            android:label="@string/phone_blacklist"
            android:parentActivityName=".ui.RulesActivity" />

        <activity
            android:name=".ui.EventFilterPhoneWhitelistActivity"
            android:label="@string/phone_whitelist"
            android:parentActivityName=".ui.RulesActivity" />

        <activity
            android:name=".ui.EventFilterTextBlacklistActivity"
            android:label="@string/text_blacklist"
            android:parentActivityName=".ui.RulesActivity" />

        <activity
            android:name=".ui.EventFilterTextWhitelistActivity"
            android:label="@string/text_whitelist"
            android:parentActivityName=".ui.RulesActivity" />

        <activity
            android:name=".ui.EmailSettingsActivity"
            android:label="@string/email_message"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.RemoteControlActivity"
            android:label="@string/remote_control"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.HistoryActivity"
            android:label="@string/call_history"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.MoreOptionsActivity"
            android:label="@string/more_options"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.LegalInfoActivity"
            android:label="@string/open_source"
            android:parentActivityName=".ui.MainActivity" />

<!--        <service android:name=".CallProcessorService" />-->

        <service android:name=".ContentObserverService" />

        <receiver
            android:name=".CallReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BatteryLevelReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>

        <service
            android:name=".firebase.CloudMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>