<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.bopr.android.smailer"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!--<uses-permission android:name="android.permission.READ_LOGS"/>-->
    <!--<uses-permission android:name="android.permission.BROADCAST_SMS"/>-->

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ui.DebugActivity"
            android:label="Debug">
        </activity>

    </application>

</manifest>

