<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bopr.android.smailer">

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".ui.DebugActivity"
            android:exported="true"
            android:label="Debug" />

        <receiver
            android:name=".DebugReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="PROCESS_PHONE_EVENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>

